/* app.scss */

$fonts-headings: 'Raleway', sans-serif;
$fonts-body: 'Source Sans Pro', sans-serif;

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://download.unsplash.com/photo-1429041966141-44d228a42775);
    font-family: $fonts-body;
    color: #666;
}

.container {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    padding: 2em;
    top: calc(40vh - 150px);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 25px;

    h1 {
        font-family: $fonts-headings;
        color: white;
    }

    input[type='text'] {
        border: none;
        padding: 0.5em;
        width: 300px;
        display: inline-block;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
        outline: none;
        transition: all 0.2s ease-in-out;

        &:focus {
            box-shadow: inset 0 0 5px rgba(0,0,0,0.5), 0 0 15px 2px rgba(255,149,26, 1.0);
        }
    }

    input[type='submit'] {
        display: inline-block;
        padding: 0.5em 1em;
        max-width: 200px;
        background: #f93;
        border: 3px solid #f93;
        color: white;
        border-radius: 5px;
        text-align: center;
        outline: none;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition: all 0.3s;

        &:hover, &:active {
            color: #f93;
            background: none;
        }
    }
}

@import 'search-results';